* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #e9ecf4;
  color: #000;
  font-family: sans-serif;
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 6rem auto 1fr 10rem;
  grid-template-areas:
    "header header"
    "section1 section1"
    "section2 section2"
    "footer aside";
}

header {
  background-color: gray;
  /* text-align: center; */
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section1 {
  grid-area: section1;
}

.section2 {
  grid-area: section2;
}

section p {
  margin: 1rem 0;
}

img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  /* Para que la foto no aparezca (versión móvil) */
  display: none;
}

aside {
  background-color: rebeccapurple;
  grid-area: aside;
  display: grid;
  place-content: center;
  line-height: 2rem;
}

footer,
aside {
  display: grid;
  place-content: center;
}

footer {
  background-color: aqua;
  /* text-align: center; */
  display: grid;
  place-content: center;
  grid-area: footer;
}

footer > a {
  line-height: 2rem;
}

@media screen and (min-width: 600px) {
  body {
    grid-template-columns: 1fr 1fr 12rem;
    grid-template-rows: 6rem 1fr 10rem;
    grid-template-areas:
      "header header header"
      "section1 section2 aside"
      "footer footer aside";
  }
  img {
    /* Para que la foto  aparezca (versión escritorio) */
    display: inline-block;
  }
  aside h2 {
    margin-top: 1rem;
  }

  footer {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}
