* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

button {
  width: 5rem;
  height: 5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

svg {
  fill: gray;
}

.like {
  animation-name: latido;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes latido {
  0% {
    fill: gray;
  }

  25% {
    fill: red;
    transform: scale(1.2);
  }

  50% {
    fill: red;
    transform: scale(1);
  }

  75% {
    fill: red;
    transform: scale(1.2);
  }

  100% {
    fill: red;
    transform: scale(1);
  }
}
